@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Nunito&display=swap');

body {
  background-color: rgb(55, 55, 55);
  font-family: 'Nunito', sans-serif;
  color:rgb(192, 206, 231);
  height: 100hv;
  margin: 0;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  color: rgb(91, 91, 91);
}

h1 {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}